{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_user/user_filter_row

    Template for use by each filter condition.


TODO
    Context variables required for this template:
      * filteroptions - Array of filter options.
      * value string - The option value.
      * label string - The option label.
      * selected boolean - Whether the option is selected

    Example context (json):
    {
        "matchtypes": [
            {
                "value": 1,
                "label": "All",
                "selected": true
            },
            {
                "value": 2,
                "label": "Any",
                "selected": false
            },
            {
                "value": 0,
                "label": "None",
                "selected": false
            }
        ],
        "filtertypes": [
            {
                "value": "status",
                "label": "Status"
            }
        ],
        "enhanceddropdown": [
            {
                "options": [
                    {
                        "value": "0",
                        "label": "active"
                    },
                    {
                        "value": "1",
                        "label": "inactive"
                    }
                ]
            }
        ]
    }
}}

<div id="{{uniqid}}-filter-row" class="rounded mb-3 p-2 align-middle bg-white border border-secondary" data-filter-uniqid="{{uniqid}}">
    <label for="{{uniqid}}-match-type">{{#str}}match{{/str}}</label>

    <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-light dropdown-toggle font-weight-bold" id="{{uniqid}}-match-type" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" data-reference="parent" data-option-selected="{{matchtypesdefaultvalue}}">
            {{matchtypesdefaultlabel}}
        </button>
        <div class="dropdown-menu user-filter-select" id="{{uniqid}}-match-type-options" aria-labelledby="{{uniqid}}-match-type">
            {{#matchtypes}}
            <a class="dropdown-item" href="#" data-value="{{value}}">{{label}}</a>
            {{/matchtypes}}
        </div>
    </div>

    <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-light dropdown-toggle font-weight-bold" id="{{uniqid}}-filter-type" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" data-reference="parent" data-option-selected="{{filtertypesdefaultvalue}}">
            {{filtertypesdefaultlabel}}
        </button>
        <div class="dropdown-menu user-filter-select" id="{{uniqid}}-filter-type-options" aria-labelledby="{{uniqid}}-filter-type">
            {{#filtertypes}}
            <a class="dropdown-item" href="#" data-value="{{value}}" data-filter-type="{{inputtype}}">{{label}}</a>
            {{/filtertypes}}
        </div>
        <input type="hidden" id="{{uniqid}}-filter-type-selected" class="filter-type-value" value="">
    </div>

    {{> core_user/filter_types/enhanced_dropdown }}

    <div id="{{uniqid}}-filter-options-set" name="{{uniqid}}-filter-options-set" class="d-inline-block"></div>

    <i class="icon fa fa-times-circle float-right pt-2"></i>
</div>

{{#js}}

require(['core_user/user_filters'], function(Filter) {
    Filter.init('{{uniqid}}');
});

{{/js}}

<!--TODO: each little selected element will use this for closing: <i class="icon fa fa-times"></i>

Plan:

Type or select:
    -Selection:
        -closes the select box
        -Adds the selected text to a little crossable box
        -Removes that item from the dropdown

    -Clicking cross on a previously selected item:
        -Removes that element
        -Re-adds that item in its original place in the dropdown    <<<<<<<<<<< need to keep track of where it would have gone?

    Clear filters:
        -Removes all items and resets all drop downs-->