{{<core/content/export/external_page}}
{{$pagecontent}}
    <h2>
        {{{activity.name}}}
    </h2>

    <div class="alert alert-info alert-block">
        {{#str}}contentexport_vieworiginalactivityfullmessage, core, {{{activity.link}}} {{/str}}
    </div>

    {{#intro}}
    <h4>{{#str}}moduleintro, core{{/str}}</h4>
    <div>
        {{{intro}}}
    </div>
    <hr>
    {{/intro}}

    {{#sections}}
    <div>
        <h4>{{title}}</h4>
        <div>
            {{#content}}
            <div>
                {{{content}}}
            </div>
            {{/content}}

            {{#files.0}}
            <ul>
            {{#files}}
                <li><a href="{{filepath}}" title="{{#str}}contentexport_viewfilename, core, {{filename}}{{/str}}">{{filename}}</a></li>
            {{/files}}
            </ul>
            {{/files.0}}
        </div>
    </div>
    <hr>
    {{/sections}}
{{/pagecontent}}
{{/core/content/export/external_page}}
