<form method="get" action="{{action}}" class="adminsearchform form-inline" role="search">
    <label class="sr-only" for="adminsearchquery">{{label}}</label>
    <div class="input-group w-100">
        <input class="form-control" type="text" name="query" value="{{searchvalue}}" id="adminsearchquery">
        <div class="input-group-append">
            <input type="submit" class="btn btn-secondary" value={{#quote}}{{#str}}search{{/str}}{{/quote}}>
        </div>
    </div>
</form>
